- Média;
- Mediana;
- Moda;
- Desvio padrão.

In [1]:
import pandas as pd

In [2]:
dataframe = pd.read_csv("desafio1.csv")

In [3]:
dataframe.head()

,RowNumber,id,sobrenome,pontuacao_credito,estado_residencia,genero,idade,nivel_estabilidade,saldo_conta,numero_produtos,possui_cartao_de_credito,membro_ativo
0,1,e7f44fcbd380d4cef7e6c232cc7e37895c3fd197,6d6e0aa1b9b413e442e2fb68df14b4fc3f91de50,619,SC,F,42,2,0.00,1,1,1
1,2,28dcb083ad90512da16b9430085c2cddb8ca5e12,48e1ad846796fa314f1b4a6702b83343eb5482c5,608,RS,F,41,1,83807.86,1,0,1
2,3,774bc378f787438c9c7594e536787d07a097a54b,f2b29d5d934de615812b697132e767dea0f1e9e2,502,SC,F,42,8,159660.80,3,1,0
3,4,043a71326f7096de155e7f0c559dc62b5e4b7239,85d5c9da7cddd8109ad32a6c348fe2bb10bf99f2,699,SC,F,39,1,0.00,2,0,0
4,5,37b3bb8ca243955fb3605ec7e1c2a4607cdb3b22,ddc89c837a6933639de75f28171057060bd322df,850,RS,F,43,2,125510.82,1,1,1

In [4]:
df = dataframe[['pontuacao_credito', 'estado_residencia']]

In [5]:
df.head()

   pontuacao_credito estado_residencia
0                619                SC
1                608                RS
2                502                SC
3                699                SC
4                850                RS

In [6]:
print(df)

      pontuacao_credito estado_residencia
0                   619                SC
1                   608                RS
2                   502                SC
3                   699                SC
4                   850                RS
...                 ...               ...
6995                633                SC
6996                623                RS
6997                611                SC
6998                666                RS
6999                521                SC

[7000 rows x 2 columns]

In [10]:
df_media = df.groupby("estado_residencia")['pontuacao_credito'].mean()

In [11]:
df_media

estado_residencia
PR    648.961294
RS    651.105143
SC    649.537653
Name: pontuacao_credito, dtype: float64

In [12]:
df_median = df.groupby("estado_residencia")['pontuacao_credito'].median()

In [13]:
df_median

estado_residencia
PR    650
RS    650
SC    653
Name: pontuacao_credito, dtype: int64

In [18]:
df_std = df.groupby("estado_residencia")['pontuacao_credito'].std()

In [20]:
df_std

estado_residencia
PR    98.607186
RS    95.136598
SC    97.233493
Name: pontuacao_credito, dtype: float64

In [29]:
moda_pr = df.loc[df['estado_residencia'] == 'PR'].mode()

In [30]:
moda_pr

   pontuacao_credito estado_residencia
0                850                PR

In [31]:
moda_rs = df.loc[df['estado_residencia'] == 'RS'].mode()

In [32]:
moda_rs

   pontuacao_credito estado_residencia
0                850                RS

In [33]:
moda_sc = df.loc[df['estado_residencia'] == 'SC'].mode()

In [34]:
moda_sc

   pontuacao_credito estado_residencia
0                850                SC